.Game {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

#top-section {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 15%;
}

#title {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

#score {
  position: absolute;
  right: 10%;
  bottom: 5px;
}

#cards {
  width: 100%;

}